<div id="navbar" ng-controller="NavbarCtrl">
  <div id="template">
    <div id="navTitle">
      TEMPLATES
    </div>
    <div id="templatesItem">

      <div class="item">
        <ul class="allPage">

        <li class="page" ng-repeat="page in pages track by $index">
        <div>
          <a ng-click="showPage(page._id)" class="pageLink" editable-text="page.title">
          {{page.title | uppercase}}
          </a>
          <a type="button" class="delete glyphicon glyphicon-remove pull-right" ng-click="deleteOne(page._id)"></a>
          <a type="button" class="edit glyphicon glyphicon-pencil pull-right" ng-click="editOne(page)"></a>
        </div>
        </li>
        </ul>
      </div>

      <form class="form-inline" role="form">
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-sm" placeholder="ADD NEW PAGE" ng-model="page.title" ng-required="true">
          <span class="glyphicon glyphicon-plus form-control-feedback" ng-click="save(page)"></span>
        </div>
      </form>
    </div>
  </div>

  <div id="element">
    <div id="navTitle">
      ELEMENT
    </div>
    <div id="elementItem">
      <div class="draggable">
      <table>
      <tr>
        <td class="eTable">
          <div id="title"><div id="titleImg"></div><p>TITLE</p></div>
        </td>
        <td  class="eTable">
          <div id="text"><div id="textImg"></div><p>TEXT</p></div>
        </td>
       </tr>
      </table>
      <table>
      <tr>
        <td  class="eTable">
          <div id="img"><div id="imgImg"></div><p>IMAGE</p></div>
        </td>
        <td  class="eTable">
          <div id="nav"><div id="navImg"></div><p>NAV</p></div>
        </td>
      </div>
      </tr>
      </table>
    </div>
  </div>

  <div id="settings">
    <div id="navTitle">
      SETTINGS
    </div>
    <div id="settingsItem">
    <table>
    <tr>
      <td><p class="settingText">SITE GRID<p></td>
      <td><div id="toggleImg"></div></td>
    </tr>
    </table>
    </div>
  </div>
</div>
